<html>
	<body>
		<meta charset="utf-8">
		<a HREF="/1001">/1001 - Extremamente Básico <br>
		<a HREF="/1002">/1002 - Área do Círculo <br>
		<a HREF="/1003">/1003 - Soma Simples <br>
		<a HREF="/1004">/1004 - Produto Simples <br>
		<a HREF="/1005">/1005 - Média 1 <br>
		<a HREF="/1006">/1006 - Média 2 <br>
		<a HREF="/1007">/1007 - Diferença <br>
		<a HREF="/1008">/1008 - Salário <br>
		<a HREF="/1009">/1009 - Salário com Bônus <br>
		<a HREF="/1010">/1010 - Cálculo Simples <br>
		<a HREF="/1011">/1011 - Esfera <br>	
		<a HREF="/1012">/1012 - Área <br>
		<a HREF="/1013">/1013 - O Maior <br>
		<a HREF="/1014">/1014 - Consumo <br>
		<a HREF="/1015">/1015 - Distância Entre Dois Pontos <br>
		<a HREF="/1016">/1016 - Distância <br>
		<a HREF="/1017">/1017 - Gasto de Combustível <br>
		<a HREF="/1018">/1018 - Cédulas <br>
<<<<<<< HEAD
=======
		<a HREF="/1019">/1019 - Conversão de Tempo <br>
		<a HREF="/1020">/1020 - Idade em Dias <br>
		<a HREF="/1021">/1021 - Notas e Moedas <br>
>>>>>>> 2fd00484c8eb1bf10a845781467f3a4b79707096
		<a HREF="/2479">/2479 - Ordenando a Lista de Crianças do Papai Noel <br>
	</body>
</html>