<html>

	<body>
		<meta charset="utf-8">
		<title>1001 - Extremamente Básico</title>
		<script type="text/javascript">
		//converter sempre prompt() para lines.shift();
		var a = parseInt(prompt("Informe o primeiro valor"));
		var b = parseInt(prompt("Informe o segundo valor"));
		   
		console.log('X = ' + (a+b));
		</script>
	</body>
</html>