<html>
	<body>
		<meta charset="utf-8">
		<title>1002 - Área do Círculo</title>
		<script type="text/javascript">
		//converter sempre prompt() para lines.shift();
		var raio = parseFloat(prompt("Informe o valor do raio"));
		console.log('A='+(3.14159* Math.pow(raio,2)).toFixed(4));		   
		</script>
	</body>
</html>