<html>
	<body>
		<meta charset="utf-8">
		<title>1003 - Soma Simples</title>
		<script type="text/javascript">
		//converter sempre prompt() para lines.shift();
		var a = parseInt(prompt("Informe o primeiro valor"));
		var b = parseInt(prompt("Informe o segundo valor"));
		   
		console.log('SOMA = ' + (a+b));
		</script>
	</body>
</html>