<html>
	<body>
		<meta charset="utf-8">
		<title>1004 - Produto Simples</title>
		<script type="text/javascript">
		//converter sempre prompt() para lines.shift();
		var a = parseInt(prompt("Informe o primeiro valor"));
		var b = parseInt(prompt());
		   
		console.log('PROD = ' + (a*b));
		</script>
	</body>
</html>