<html>
	<body>
		<meta charset="utf-8">
		<title>1005 - Média 1</title>
		<script type="text/javascript">
		//converter sempre prompt() para lines.shift();
		var a = (parseFloat(prompt())*3.5)/11;
		var b = (parseFloat(prompt())*7.5)/11;
		console.log('MEDIA = ' + (a+b).toFixed(5));
		</script>
	</body>
</html>

