<html>
	<body>
		<meta charset="utf-8">
		<title>1007 - Diferença</title>
		<script type="text/javascript">
		//converter sempre prompt() para lines.shift();
		var a = parseFloat(prompt());
		var b = parseFloat(prompt());
		var c = parseFloat(prompt());
		var d = parseFloat(prompt());
		console.log('DIFERENCA = ' + (a*b-c*d));s
		</script>
	</body>
</html>