<html>
	<body>
		<meta charset="utf-8">
		<title>1009 - Salário com Bônus</title>
		<script type="text/javascript">
		//converter sempre prompt() para lines.shift();
		var a = prompt();
		var b = parseFloat(prompt());
		var c = parseFloat(prompt())*15/100;
		console.log('TOTAL = R$ ' + (b+c).toFixed(2));
		</script>
	</body>
</html>