<html>
	<body>
		<meta charset="utf-8">
		<title>1010 - Cálculo Simples</title>
		<script type="text/javascript">
		//converter sempre prompt() para lines.shift();
		var peca1 = prompt().split(" ");
		var peca2 = prompt().split(" ");
		console.log('VALOR A PAGAR: R$ ' + ((peca1[1]*peca1[2])+(peca2[1]*peca2[2])).toFixed(2));
		</script>
	</body>
</html>