<html>
	<body>
		<meta charset="utf-8">
		<title>1011 - Esfera</title>
		<script type="text/javascript">
		//converter sempre prompt() para lines.shift();
		var r = Math.pow(prompt(),3);
		console.log('VOLUME = ' + ((4/3)*(3.14159)*r).toFixed(3));
		</script>
	</body>
</html>