<html>
	<body>
		<meta charset="utf-8">
		<title>1014 - Consumo</title>
		<script type="text/javascript">
		//converter sempre prompt() para lines.shift();
		var X = parseInt(prompt());
		var Y = parseFloat(prompt());
		console.log(((X/Y).toFixed(3)) + " km/l");
		</script>
	</body>
</html>