<html>
	<body>
		<meta charset="utf-8">
		<title>1015 - Distância Entre Dois Pontos</title>
		<script type="text/javascript">
		//converter sempre prompt() para lines.shift();
		var p1 = prompt().split(" ");
		var p2 = prompt().split(" ");

		console.log((Math.sqrt(Math.pow(parseFloat(p2[0])-parseFloat(p1[0]),2)+Math.pow(parseFloat(p2[1])-parseFloat(p1[1]),2))).toFixed(4));

		</script>
	</body>
</html>