<html>
	<body>
		<meta charset="utf-8">
		<title>1016 - Distância</title>
		<script type="text/javascript">
		//converter sempre prompt() para lines.shift();
		console.log((parseInt(prompt())*2) + " minutos");
		</script>
	</body>
</html>