<html>
	<body>
		<meta charset="utf-8">
		<title>1017 - Gasto de Combustível</title>
		<script type="text/javascript">
		//converter sempre prompt() para lines.shift();
		console.log(((parseInt(prompt())*parseInt(prompt())/12).toFixed(3)));
		</script>
	</body>
</html>